:root {
    --widthVal: 70%;
    --margin0Auto: 0 auto;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    /* overflow-y: auto; */
    overflow-x: hidden;
    perspective: 1rem;
}

main {
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}


.background {
    position: absolute;
    height: 100vh;

    /* object-fit: cover; */
    z-index: -1;
    width: 100%;

}

.background {
    transform: translateZ(-10px) scale(2);
}

.navbar {
    width: var(--widthVal);
    margin: var(--margin0Auto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.nav_menu a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    margin: 0 3rem;
}

.navbar button {
    padding: 0.5rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #FF6726;
    background-color: transparent;
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.45));
    border-radius: 13px;
    font-style: normal;
}

.hero {
    width: var(--widthVal);
    margin: var(--margin0Auto);
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: space-between;
}


/* hero left ---------------------------- */

.hero-left {
    width: 100%;
}

.hero-left h1 {
    /* width: 100%; */
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 2.3rem !important;
    line-height: 6rem;
}
.hero-left h1 span{
    /* width: 100%; */
    font-weight: 700;
    font-size: 4rem;
    
}
.hero-left p {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}
.hero-left button {
    padding: 0.5rem 2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 13px;
    color: white;
    border: none;
    background-color: #FF6726;
    cursor: pointer;

    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.5rem;
}

/* hero right ---------------------------- */
.hero-right{
    /* width: 100%; */
}
.hero-right img{
    width: 80%;
}


.information-bg {
    width: 90%;
    margin: var(--margin0Auto);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.11);
    border-radius: 30px;
    margin-top: 9.3rem;
}

.information {
    width: 77.8%;
    margin: var(--margin0Auto);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;


}

.information img {
    width: 10%;
}

.information a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.information .location,
.programs,
.membership {
    display: flex;
    align-items: center;
}

.information .info-text {
    margin-left: 1rem;
    align-items: center;
}

.features{
    width: var(--widthVal);
    margin: var(--margin0Auto);
}
.features-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features-div-text{
    padding: 6rem;
    text-align: center;
}
.features-div-text h2{
    font-size: 2rem;
    color: black;
}
.features-div-text p{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 9px 14px -2px rgba(0, 0, 0, 0.21), inset -11px -9px 10px -7px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(8.5px);
    border-radius: 30px;
    padding: 2rem 1rem;
}
.features-div-img img{
    width: 27.5rem;
    filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.25));
    
}
.supplements-right img{
    width: 25rem;
}
footer{
    width: var(--widthVal);
    margin: var(--margin0Auto);
    margin-top: 7rem;
}
footer ul{
    display: flex; 
    list-style: none;
    justify-content: space-around;
    
}
footer ul li a{
    text-decoration: none;
    color: rgb(133, 133, 133);
}

@media screen and (max-width: 835px) {
    .nav_menu a {

        margin: 0 1rem;
    }

}

/* @media screen and (max-width: 563px) {
    .nav_menu a{
        
        margin: 0 0.5rem;
    }
} */
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}