:root {
    --widthVal: 70%;
    --margin0Auto: 0 auto;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* height: 100vh; */
    /* overflow-y: auto; */
    overflow-x: hidden;
    perspective: 1rem;
}

main {
    position: relative;
    /*display: flex;
  justify-content: center;
  align-items: center;*/
    /* width: 100%; */
    transform-style: preserve-3d;
    /* z-index: -1; */
}

.background {
    position: absolute;
    height: 100%;

    /* object-fit: cover; */
    z-index: -1;
    width: 100%;

}

.background {
    transform: translateZ(-10px) scale(2);
}

.navbar {
    width: var(--widthVal);
    margin: var(--margin0Auto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav_menu {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.nav_menu a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    margin: 0 3rem;
}

.navbar button {
    padding: 0.5rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #FF6726;
    background-color: transparent;
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.45));
    border-radius: 13px;
    font-style: normal;
}

.hero {
    width: var(--widthVal);
    margin: var(--margin0Auto);
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 4.7rem; */
}
.grid-effect{
    display: grid;
}

.hero-left {}

.hero-left h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 2.3rem !important;
}
.hero-left p {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}
.hero-right{
    /* display: flex;
    justify-content: flex-end; */
    width: 80%;
}
.hero-right img {
    /* margin: 0 auto;
    
    padding-bottom: 0 !important; */
    
}

.hero-left button {
    padding: 0.5rem 2rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 13px;
    color: white;
    border: none;
    background-color: #FF6726;
    cursor: pointer;

    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.5rem;
}


.information-bg {
    width: 90%;
    margin: var(--margin0Auto);

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.11);
    border-radius: 30px;
}

.information {

    width: 77.8%;
    margin: var(--margin0Auto);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;


}

.information img {
    width: 10%;
}

.information a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.information .location,
.programs,
.membership {
    display: flex;
    align-items: center;
}

.information .info-text {
    margin-left: 1rem;
    align-items: center;
}

@media screen and (max-width: 835px) {
    .nav_menu a {

        margin: 0 1rem;
    }
}

/* @media screen and (max-width: 563px) {
    .nav_menu a{
        
        margin: 0 0.5rem;
    }
} */